.wrapper {
    height: 25rem;
    position: relative;
}

section {
    position: relative;
    z-index: 0;
}

.btn {
    border-radius: 0.7rem;
}

.input-field {
    padding-right: 1rem;
    margin: 0 !important;
}

.input-field > input {
    width: 7rem !important;
    color: white;
}

.casa {
    position: absolute;
    top: 14.5rem;
    left: 2rem;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.jugador {
    position: absolute;
    top: 14.5rem;
    right: 2rem;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.naipesL {
    position: absolute;
    width: 10rem;
    height: 14rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    left: 10rem;
    top: 4rem;
    z-index: 0;
}

.naipesL:hover > span {
    visibility: visible;
    opacity: 1;
}

.naipe-selectionL {
    width: 10rem;
    height: 14rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/naipe_back.jpg");
    position: absolute;
    transition: margin-left 0.4s ease;
    left: 1px;
    /*top: 4rem;*/
}

.naipe-selectionL:active {
    z-index: 1;
}

.naipe-selectionL:hover:nth-child(4) {
    margin-left: 2rem;
    /*    transform: rotate(-18deg);*/
}

.naipesR {
    position: absolute;
    width: 10rem;
    height: 14rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    right: 10rem;
    top: 4rem;
    z-index: 0;
}

.naipesR:hover > span {
    visibility: visible;
    opacity: 1;
}

.naipe-selectionR {
    width: 10rem;
    height: 14rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/naipe_back.jpg");
    position: absolute;
    transition: margin-right 0.4s ease;
    right: 1px;
}

.naipe-selectionR:active {
    z-index: 1;
}

.naipe-selectionR:hover:nth-child(4) {
    margin-right: 2rem;
    /*    transform: rotate(-18deg);*/
}

