body {
  padding: 0;
  box-sizing: border-box;
  background-color: #085f63;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
